<title>Toy | A Toy Programming Langauge</title>
<meta name="description" content="A Toy Programming Language" />
<meta name="author" content="Kayne Ruse, Ratstail91" />
<meta name="keywords" content="programming,coding" />

<meta property="og:url" content="https://toylang.com" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://toylang.com/toylogo.png" />
<meta property="og:title" content="Toy | A Toy Programming Langauge" />
<meta property="og:description" content="A Toy Programming Language" />

<meta property="twitter:card" content="summary_image_large" />
<meta property="twitter:url" content="https://toylang.com" />
<meta property="twitter:type" content="website" />
<meta property="twitter:image" content="https://toylang.com/toylogo.png" />
<meta property="twitter:title" content="Toy | A Toy Programming Langauge" />
<meta property="twitter:description" content="A Toy Programming Language" />
